.conatainer-main_instagram{
 
  padding: 20px;
  
}
.blue{
  background-color: blue;
}
.text-color-green{
  color:green;
}
.text-color-red{
  color: red;
}
.text-color-blue{
  color: blue;
}
.btn-test{
  background-color: blue;
  color: aliceblue;
}

.table-container{
  margin-left: 2rem;
  padding: 20rem;
  background-color: red;
}

.flex{
  display: flex;
}

.section-container-xl{
  width: 100%;
}